# 0. Meta

## 0.1. Packages

In [3]:
import pandas as pd

## 0.2. Functions

In [11]:
# Funktion, um Werte in Float zu konvertieren und Fehler abzufangen
def convert_to_float(value):
    try:
        return float(value)
    except ValueError:
        print(f"Konvertierungsfehler bei: {value}")
        return None

# 1. Data import

In [6]:
file_path = r"C:\Sync\03_projects\data_science\projects\weddingsurvey\Hochzeitsgäste_im_Check.csv"

In [7]:
df = pd.read_csv(file_path)

In [8]:
df.head()

,Teilnehmer,Startzeit,Endzeit,Quelle,Wie alt bist du?,Mit welchem Geschlecht identifizierst du dich?,In welchem Land bist du geboren?,Wie lautet die Postleitzahl (PLZ) deines Wohnortes?,Wie ist dein Familienstand?,Wie viele Kinder hast du?,...,Wer fährt besser Fahrrad nach dem Biergartenbesuch? (Lucas),Wer hat mehr Narben? (Lena),Wer hat mehr Narben? (Lucas),Wer hat nach einem Tag in der Sonne eher die Hautfarbe eines Hummers? (Lena),Wer hat nach einem Tag in der Sonne eher die Hautfarbe eines Hummers? (Lucas),"Welchen Nachnamen soll das Brautpaar wählen, wenn es nach dir geht?",Wer verbringt mehr Zeit am Handy? (Lena),Wer verbringt mehr Zeit am Handy? (Lucas),Wer ist romantischer? (Lena),Wer ist romantischer? (Lucas)
0,1,05.08.2024 08:00:04,05.08.2024 08:03:20,Direkter Link,57,Frau,DE,67435,Verheiratet,5,...,übersprungen,0,1,1,1,Beide sollen ihren aktuellen Nachnamen behalten,1,0,0,1
1,2,05.08.2024 15:03:31,05.08.2024 15:06:48,Direkter Link,34,Mann,Deutschland,67434,Liiert,0,...,1,1,0,1,0,Wallbert-Almann,1,1,0,1
2,3,06.08.2024 13:10:35,06.08.2024 13:16:05,Direkter Link,30,Mann,Deutschland,20099,Liiert,0,...,0,0,1,1,0,Albert-Wallmann,1,0,1,0
3,4,06.08.2024 14:03:29,06.08.2024 14:08:22,Direkter Link,28,Frau,Deutschland,64293,Verheiratet,2,...,1,0,1,1,0,Almann-Wallbert,1,0,0,1
4,5,06.08.2024 14:29:37,06.08.2024 14:38:57,Direkter Link,31,Mann,Deutschland,64293,Verheiratet,2,...,1,0,1,1,0,Albert-Wallmann,1,0,0,1

# 2. Data cleaning

## 2.1 Wie alt bist du?

Frage: Wie alt bist du?
Wie alt bist du?
30                8
29                7
34                6
31                4
28                4
27                3
62                2
32                2
36                2
57                1
Too good to go    1
80                1
59                1
58                1
60                1
39                1
33                1
21                1
25                1
41                1
78 Jahre          1
Name: count, dtype: int64

==================================================

Frage: In welchem Land bist du geboren?
In welchem Land bist du geboren?
Deutschland     25
Deutschland     17
DE               1
Sauerland        1
Bangladesch      1
Pfalz            1
Russland         1
Afghanistan      1
Germany          1
DE               1
Name: count, dtype: int64

==================================================

Frage: Wie lautet die Postleitzahl (PLZ) deines Wohnortes?
Wie lautet die Postleitzahl (PLZ) deines Wohnortes?
67435    3
64319    3
64293    2
67434    2
50354    2
50825    2
63762    2
22767    2
80805    2
67059    2
60318    2
86159    2
20099    1
55116    1
89077    1
27804    1
50679    1
65183    1
56203    1
67470    1
78467    1
38106    1
69120    1
81543    1
80935    1
69181    1
63071    1
80337    1
13088    1
71083    1
81549    1
86161    1
81677    1
86157    1
64625    1
18246    1
Name: count, dtype: int64

==================================================

Frage: Wie viele Kinder hast du?
Wie viele Kinder hast du?
0                                 35
1                                  4
5                                  2
2                                  2
3                                  2
7                                  1
Keine                              1
2 Katzenkinder                     1
1 (er hat 4 Pfoten)                1
2 einen Sohn und eine Tochter      1
Name: count, dtype: int64

==================================================